body{ background-color:#ffdd92;}
      .a{
      border-style:solid;
      border-color:white;
      width:100%;
      heighr: 480px
      }
      .b{
      border-style:solid;
      border-color:white;
      width:100%;
      heighr: 480px
      }
      .c{
      border-style:solid;
      border-color:white;
      width:100%;
      heighr: 480px
      }
      .d{
      border-style:solid;
      border-color:white;
      background-color: orangered;
      width:100%;
      heighr: 75px
      }
     
