link
body {
    background-color: black;
}
table{tect-align:center;
}
#fondo1{
    background: green
}
#fondo2{
    background: orange;
}

#fondo3{
    blackground: orange;
}

#fondo4{
    blackground: white;
}

